.sidebar {
	position: sticky;
	flex: 0.3;
	top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: fit-content;
}

.profile-card {
	width: 250px;
	border: 1px solid #c7c8ca;
	border-radius: 20px;
	background-color: #fff;
}

.profile-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.avatar {
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-bottom: 20px;
		border: 2px solid #00a0e9;
	}
	.name {
		font-weight: 700;
		letter-spacing: 2px;
	}
	.email {
		font-size: 1rem;
		font-weight: 400;
		color: gray;
	}
}

.bg-image {
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
	height: 100px;
}

.stats {
	font-weight: light;
	font-size: 12px;
	color: gray;
	text-align: center;
	padding: 1rem;
	.stat {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-weight: bold;
		padding: 0.5rem;
		.value {
			color: #00a0e9;
		}
	}
}

.divider {
	height: 1px;
	background-color: #c7c8ca;
	margin: 0;
}

.offer {
	font-size: 0.75rem;
	display: flex;
	justify-content: center;
	text-align: left;
	padding: 1rem;
	text-decoration: underline;
	h4 {
		cursor: pointer;
	}
}

.recent-card {
	width: 250px;
	max-width: 250px;
	background-color: white;
	border: 1px solid #c7c8ca;
	border-radius: 20px;
	margin-top: 20px;
	.recent-data {
		padding: 1rem;
		.list-item {
			padding: 0.2rem;
			margin-left: 7px;
		}
	}
	h3 {
		font-weight: bold;
		font-size: 1rem;
		color: #00a0e9;
		text-decoration: underline;
	}
	h2 {
		color: gray;
		font-size: 1rem;
		text-align: center;
		padding: 1rem;
		text-decoration: underline;
		cursor: pointer;
	}
}
