.sidebar {
	flex: 0.2;
}

.profile-card {
	max-width: 300px;
	border: 1px solid #c7c8ca;
	border-radius: 20px;
	position: sticky;
	top: 80px;
}

.profile-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.avatar {
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-bottom: 20px;
		border: 2px solid #00a0e9;
	}
	.name {
		font-weight: 700;
		letter-spacing: 2px;
	}
	.email {
		font-size: 1rem;
		font-weight: 400;
		color: gray;
	}
}

.bg-image {
	object-fit: contain;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.stats {
	font-weight: light;
	font-size: 14px;
	color: gray;
	text-align: center;
	padding: 1rem;
	.stat {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-weight: bold;
		.value {
			color: #00a0e9;
		}
	}
}

.divider {
	height: 1px;
	background-color: #c7c8ca;
}

.offer {
	font-size: 0.75rem;
	display: flex;
	justify-content: center;
	text-align: left;
	padding: 1rem;
	text-decoration: underline;
	h4 {
		cursor: pointer;
	}
}
