.news-section {
	flex: 0.3;
	position: sticky;
	top: 80px;
	width: 150%;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: fit-content;
	.news-title {
		font-size: 1.4rem;
		text-decoration: underline;
		text-decoration-color: #00a0e9;
		text-decoration-thickness: 3px;
		text-align: center;
	}
	.list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 1rem;
		.list-item {
			list-style: arrow;
			font-size: 1.2rem;
			margin-bottom: 1rem;
			margin: 0.5rem 0.25rem;
		}
		.list-loading {
			height: 450px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #ccc;
			animation: loading 3s infinite;
		}
	}
}

@keyframes loading {
	0% {
		background-color: #ccc;
	}
	50% {
		background-color: #aaa;
	}
	100% {
		background-color: #ccc;
	}
}
